.navbar {
	.ng-hotrod-logo {
		height: 32px;
		margin-right: 16px;
	}
	.active-page-name {
		font-weight: bold;
		font-size: 1.75em;
	}
	.github-link {
		font-weight: bold;
		img {
			margin-right: 16px;
		}
	}
}
