<md-toolbar class="navbar">
    <div class="md-toolbar-tools">
        <div flex layout="row" layout-align="start center">
            <img class="ng-hotrod-logo" src="../../../assets/img/icon-ng-hotrod-light.svg" alt="GitHub">
            <h2 class="active-page-name" md-truncate>{{$ctrl.NavigationService.currentPageTitle}}</h2>
        </div>
        <a class="github-link" href="https://github.com/fyodorio/ng-hotrod" layout="row" layout-align="center center">
            <img src="../../../assets/img/icon-github.png" alt="GitHub">
            <div>GitHub</div>
        </a>
    </div>
</md-toolbar>
