<md-content class="page-home" layout-padding layout="column" layout-align="start center">
    <h2 class="md-headline">Modern starter for AngularJS + Angular Material + ES2020 + Sass</h2>
    <img src="https://raw.githubusercontent.com/loenko/file-storage/master/hotrod-logo.jpg" alt="ng-hotrod" width="50%;" >
    <h3 class="md-title">Includes</h3>
    <ul class="md-subhead">
        <li><a href="https://angularjs.org/">AngularJS</a> (1.7.9)</li>
        <li><a href="https://material.angularjs.org/latest/">Angular Material</a></li>
        <li><a href="https://sass-lang.com/">Sass</a></li>
        <li><a href="https://babeljs.io/">Babel</a> (latest ECMAScript + DI annotation plugin)</li>
        <li><a href="https://parceljs.org/">Parcel</a> (as modern zero-config Webpack alternative)</li>
        <li><a href="https://eslint.org/">ESLint</a></li>
        <li><a href="https://prettier.io/">Prettier</a> for code formatting</li>
        <li><a href="https://www.hygen.io/">hygen</a> for code scaffolding</li>
        <li><a href="https://github.com/typicode/husky">husky</a> for pre-commit hooks</li>
    </ul>
</md-content>
