<div class="page-home">
    <md-content flex layout-padding>
        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
        <md-button class="md-raised md-primary" ng-click="$ctrl.changePageTo(1)">Learn More</md-button>
    </md-content>
</div>
