<md-content class="page-home" layout-padding layout="column" layout-align="center center" layout-fill>
    <h2 class="md-display-1">Modern starter for AngularJS + Angular Material</h2>
    <img class="hero-img" src="https://res.cloudinary.com/fyodorio/image/upload/v1611994660/my-logos/hotrod-logo_rhkfxy.jpg" alt="ng-hotrod">
    <h3 class="md-title">Featuring (though not limited by):</h3>
    <ul class="md-headline">
        <li><a href="https://angularjs.org/">AngularJS</a> (1.7.9)</li>
        <li><a href="https://material.angularjs.org/latest/">Angular Material</a></li>
        <li><a href="https://sass-lang.com/">Sass</a></li>
        <li><a href="https://babeljs.io/">Babel</a> (latest ECMAScript + DI annotation plugin)</li>
        <li><a href="https://parceljs.org/">Parcel</a> (as modern zero-config Webpack alternative)</li>
        <li><a href="https://eslint.org/">ESLint</a></li>
        <li><a href="https://prettier.io/">Prettier</a> for code formatting</li>
        <li><a href="https://www.hygen.io/">hygen</a> for code scaffolding</li>
        <li><a href="https://github.com/typicode/husky">husky</a> for pre-commit hooks</li>
    </ul>
</md-content>
