<div class="page-card-manager">
    <md-content flex layout-padding>
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile ng-repeat="card in $ctrl.DataService.cards" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
                <md-card style="width: 100%; height: 100%;">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{card.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Open</md-button>
                        <md-button ng-click="$ctrl.deleteCard(card.id)">Delete</md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>
